body
{
    background: #111;
    color: #f4f4f4;
    
}
.header{
    background: #000000;
}

.header__content
{
    background: #000000;
    color: #f4f4f4;
}


.nav__item:hover, .nav__item_active
{
    background: #000000;
}

.theme-button
{
    color: #f4f4f4;
    background: #4f7faf;
}

.theme-button:hover
{
    background: #6f9fcf;
}

.button__top {
    background-color: #373737;
	color: white;
}

